# Editor directories
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Temporary files
*.log
*.tmp
*.swp
*~

# Python caches
__pycache__/
*.py[cod]

# Build output
build/
dist/

# Node modules
node_modules/

